{% extends 'main_app/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center h-100">
    <p>{{msg}}</p>
    <div class="container d-flex justify-content-center align-items-center">
        <p>{{msj}}</p>
        <form action="{% url 'create' %}" class="form" method="POST" style="text-align: left;"
            enctype="multipart/form-data"> {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit" id="submit">Crear Post</button>
        </form>
    </div>
</div>

{% endblock %}